Summary and Cheat sheets
support_upd_eng.csv
credit_scoring_eng.csv
/desktop.ini
/datasets
variance.jpg
platform or games.JPG
SQL Searching.JPG
start_ts.JPG
features.JPG
best_model.JPG
ds_5_8_7.joblib
model-5-9.joblib
R2 max.JPG
Machine Learning Project Reviewed.ipynb
.ipynb_checkpoints/Machine Learning Project Reviewed-checkpoint.ipynb
/Career Track
revenue.JPG
purification.PNG
Numerical Methods project previewed.ipynb
Time Series project reviewed.ipynb
predictions


